.toolbar {
  display: flex;
}

.button {
  width: auto;
  height: 30px;
  background-color: white;
  margin-left: 10px;
  padding: 0 20px 0 20px;
  border-radius: 2px;
  font-size: 16px;
  border: 1px solid black;
}

.button:active {
  color: rgb(255, 255, 255);
  transform: translateY(1px); 
}

.selectedButton {
  background-color: rgb(180, 191, 243);
}